{% extends "base.html" %}

{% block content %}
<div class="container">
 <br>
 <form action="", method="POST">
  <tr><th><label for="id_name">名前</label></th><td><input type="text" name="name" value="{{ object.name }}" maxlength="20" class="form-control" required id="id_name"></td></tr>
<tr><th><label for="id_part">部位</label></th><td><select name="part" class="form-control" required id="id_part">

  {% for part in parts %}
   {% if part == object.part %}
    <option value={{ forloop.counter }} selected>{{ part }}</option>
   {% else %}
    <option value={{ forloop.counter }}>{{ part }}</option>
   {% endif %}
  {% endfor %}

</select></td></tr>
  {% csrf_token %}
  <br>
  <button type="submit" class="btn btn-outline-success mb-2">更新</button>

  <div class="float-right">
   <a href="{% url 'delete' pk %}">
   <button type="button" class="btn btn-outline-danger mb-2">削除</button>
   </a>
  </div>
 </form>
</div>
{% endblock content %}
