{% extends "base.html" %}

{% block content %}
 <br>
 <div class="container">
  {% if valid == False %}
  <div class="alert alert-danger" role="alert">
    <strong>空白を入力したか、そのメニューは既に存在しています。</strong> 
  </div>
  {% endif %}
  <h1> 記録するために、種目をタップしてください。存在しない場合には、追加欄からメニューを追加してください。</h1>
  <table class="table">
   {% for obj in objects %}
    <thead class="thead-dark">
     <tr>
      <th>{{ obj.part }}</th>
     </tr>
    </thead>
    <tbody>
     {% for menu in obj.menus %}
     <tr>
      <th scope="row"><a href="{% url 'recordDetail' menu.pk %}">{{ menu }}</a>
       <div class="float-right">
        <a href="{% url 'menuEdit' menu.pk %}">
        <button type="button" class="btn btn-outline-danger btn-sm">編集 / 削除</button>
        </a>
       </div>
      </th>
     </tr>
     {% endfor %}
     <th>
      {% if user.is_authenticated %}
       <form action="" method="POST">
       <div class="input-group">
        <input type="hidden" name="part" value={{ obj.part.pk }}>
         <input type="text" name="name" class="form-control" placeholder="メニューを入力" aria-label="" aria-describedby="basic-addon1">
         <div class="input-group-append">
           <button class="btn btn-outline-primary" type="submit">追加</button>
         </div>
       </div>
       {% csrf_token %}
       </form>

      {% else %}
       <div class="input-group">
        <input type="text" name="name" class="form-control" placeholder="メニューを追加するにはログインしてください" aria-label="" aria-describedby="basic-addon" readonly>
        <div class="input-group-append">
         <a href="{% url 'login' %}">
          <button class="btn btn-outline-primary" type="button">ログイン</button>
         </a>
        </div>
      </div>
     {% endif %}

     </th>
    </tbody>
   {% endfor %}
  </table>
 </div>
{% endblock content %}
